<?xml version="1.0"?>

<launch>
  <!--Provide option to set namespace from outside-->
  <arg name="namespace" default="/robotis_op"/>
  <arg name="calib_url" default="$(find robotis_op_camera)/camegggra_info/camera.yaml"/>

  <group ns="$(arg namespace)">


    <node name="robotis_op_camera" pkg="robotis_op_camera" type="robotis_op_camera_node" respawn="false" output="screen" >
    </node>
  </group>
   

</launch>
